$background-tertiary: #212B45;
$background-highligth: #1E2329;
$color-secondary: #4B619B;
$text-dim: #76808C;
$text-main: #F3F3F3;


.store-header {
    background-color: $background-tertiary;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    position: sticky;
    top: 0;
    z-index: 50;

    @media screen and (max-width: 1500px) {
        top: 58px;
    }
}

.store-header-navigation {
    display: flex;
    gap: 7px;
    align-items: center;
}

.store-navigation-link,
.more-btn {
    display: block;
    padding: 13px 29px;
    transition: all .3s ease;
    border-radius: 3px;

    &:hover,
    &.active {
        background-color: $color-secondary;
    }
}

.more {
    position: relative;
    display: none;
}

.more-dropdown {
    position: absolute;
    width: 200px;
    background-color: $background-tertiary;
    border-radius: 3px;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    left: -16px;

    &.isOpen {
        max-height: auto;
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }

    .store-header-navigation {
        flex-direction: column;
        gap: 0;
    }

    li {
        display: none;
        width: 100%;
    }

    li:not(:last-child) {
        border-bottom: 1px solid $color-secondary;
    }

    .store-navigation-link {
        border-radius: 0;
        background-color: $background-tertiary;
    }

}

.store-header-left {
    display: flex;
    gap: 7px;
}

.more-btn {
    display: flex;
    gap: 5px;
    align-items: center;

    .svg-container {
        padding: 7px;
        height: 19px;
        width: 20px;
        padding: 5px;
    }

    svg * {
        fill: $text-main;
    }
}

.search-form-container {
    height: 44px;
    position: relative;
    flex-grow: 1;
    min-width: 50px;
    z-index: 100;


    form {
        width: 100%;
        position: relative;
        display: inline-block;
        height: 100%;
    }

    input {
        height: 100%;
        width: 100%;
        background-color: rgba(14, 20, 27, 0.20);
        font-size: 14px;
        border: none;
        color: $text-main;
        padding: 14px 43px 19px 19px;
        border-radius: 3px;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }

    button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    }

    .svg-container {
        width: 20px;
        height: 20px;
        padding: 3px;
    }

    svg * {
        fill: $color-secondary;
    }
}

.store-header-rigth {
    display: flex;
    gap: 27px;
}

.setting-btn {
    background: rgba(118, 128, 140, 0.10);
    width: 40px;
    height: 40px;
    padding: 7px;


    svg * {
        fill: $text-dim;
    }

    &:hover {
        svg * {
            fill: $text-main;
        }
    }
}

/* Hero section styles */

.hero-section {
    height: 620px;

    a {
        display: block;
    }

}

/* ligthBox styles */

.ligthBox {
    position: fixed;
    inset: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        max-width: 50%;
        max-height: 50%;
        border-radius: 8px;
    }

}


/* FEATURED section styles */



.featured-section {
    margin-bottom: 100px;

    .container {
        width: min(90%, 1400px);
    }

    .swiper-slide-content {
        display: grid;
        grid-template-columns: auto 470px;
        gap: 17px;
    }

    .sale-game-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 17px;
    }

    .game-images-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;


        img:hover {
            scale: 1.05;
        }
    }

    hgroup {

        h3 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 11px;
        }

        p {
            font-size: 14px;
        }
    }

    .game-tags-list {
        display: flex;
        gap: 4px;
        align-items: center;

        li:last-child {



            svg {
                width: 15px;
                height: 15px;
            }

            svg * {
                fill: $text-dim;
            }
        }
    }

    .tags-block {
        display: flex;
        justify-content: space-between;
    }

    .tags-link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $text-dim;
        padding: 8px 13px;
        background-color: $background-highligth;
        border-radius: 3px;


        &:hover {
            color: $text-main;
            background-color: $color-secondary;
        }
    }

    .sale-game-block-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .whish-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text-main;
        padding: 10px 20px;
        background-color: $background-highligth;
        border-radius: 3px;

        &:hover {
            background-color: $color-secondary;
        }

        .svg-container {
            width: 24px;
            height: 24px;
            padding: 3px 2px;
        }
    }

    .product-price {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    .buy-product {
        padding: 10px 20px;
        background-color: $color-secondary;
        border-radius: 3px;
    }


}

.sale-main-img {
    width: 100%;
    height: 100%;

    &:hover {
        scale: 1.01;
    }
}

.section-header {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}



.system-required {
    svg * {
        fill: $text-dim;
    }
}

.whish-btn {
    svg * {
        fill: $text-main;
    }
}

/* Responsive styles */


@media screen and (max-width: 1450px) {
    .more {
        display: block;
    }

    .store-header-navigation {
        li:nth-child(n + 6) {
            display: none;
        }
    }

    .more-dropdown {
        .store-header-navigation {
            li:nth-child(n + 6) {
                display: block;
            }
        }
    }
}



@media screen and (max-width: 1300px) {
    .store-header-navigation {
        li:nth-child(n + 5) {
            display: none;
        }
    }

    .more-dropdown {
        .store-header-navigation {
            li:nth-child(n + 5) {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .store-header-navigation {
        li:nth-child(n + 4) {
            display: none;
        }
    }

    .more-dropdown {
        .store-header-navigation {
            li:nth-child(n + 4) {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .store-header-navigation {
        li:nth-child(n + 3) {
            display: none;
        }
    }

    .more-dropdown {
        .store-header-navigation {
            li:nth-child(n + 3) {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .store-header-navigation {
        li:nth-child(n + 1) {
            display: none;
        }
    }

    .more-dropdown {
        .store-header-navigation {
            li:nth-child(n + 1) {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .store-header.search-open {
        .store-header-rigth {
            display: none;
        }

        .store-header-left {
            display: none;
        }
    }

    .more-dropdown {
        width: 100dvw;
    }

    .more-btn {
        padding: 13px 12px;
    }

}