$color-secondary: #4B619B;
$background-main: #0E141B;



.swiper-container {
    background-color: rgba(14, 20, 27, 0.20);
    padding: 15px 60px;
    position: relative;
    border-radius: 5px;
}

.swiper-slide-content,
.slide-content {
    padding: 15px;
    background-color: #0E141B;
    border-radius: 5px;

}

.slick-list {
    margin: 0 -10px;
}

.slick-slide>div {
    padding: 0 10px;
    display: flex;
    gap: 10px;
}

.slick-slide>div:not(:last-child) {
    margin-bottom: 10px;
}

.custom-prev svg,
.custom-next svg {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s;
}

.custom-prev svg *,
.custom-next svg * {
    fill: #F3F3F3;
}

.custom-prev:hover svg *,
.custom-next:hover svg * {
    fill: $color-secondary;
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;

    z-index: 10;
}

.custom-prev {
    left: -40px;
    transform: translateY(-50%) rotate(180deg);
}

.custom-next {
    right: -40px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: $color-secondary;
}




/* активна */
.swiper-pagination-bullet-active {
    background: $color-secondary;
    /* будь-який акцентний */
    opacity: 1;
    transform: scale(1.2);
}

.slider-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 20px;
}

.slick-dots.slick-dots {
    display: flex !important;
    gap: 12px;
    position: absolute;
    bottom: -50px;
    justify-content: center;


    li {
        margin: 0;
        width: 35px;
        height: 8px;
        background: $background-main;
        border-radius: 5px;
        opacity: 0.6;
        transition: 0.3s;
        border-radius: 5px;
    }

    button {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    button::before {
        display: none;
    }
}



.custom-pagination .swiper-pagination-bullet {}


.slick-dots.slick-dots .slick-active {
    background-color: #4B619B;
    opacity: 1;
    transform: scale(1.2);
}


@media screen and (max-width:800px) {
    .swiper-container {
        padding: 10px;
    }

  

}